<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ManSora Squid Proxy APN Generator</title>
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>
<div class="container">
    <div class="page-header">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">ManSora Squid Proxy APN Generator</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!--items-->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel panel-heading">
                        <div class="panel-title">APN Settings</div>
                    </div>
                    <div class="panel-body">
                        <form action="/squid/apn" method="post">
                            <div class="form-group">
                                <label for="name">APN:</label>
                                <input type="text" name="name" class="form-control" placeholder="required" id="name"/>
                            </div>
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" name="username" class="form-control" placeholder="optional" id="username"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" name="password" class="form-control" placeholder="optional" id="password"/>
                            </div>

                            <button type="submit" class="btn btn-success btn-block">Generate</button>
                        </form>
                    </div>

        </div>
    </div>
		<div class="container">
			<p style="text-align: center; font-size: 20px;">
				<a href="https://ss.ime.moe">ManSora SS</a>
			</p>
                        <p style="text-align: center; font-size: 12px;">
                                <a href="https://github.com/mapleray/APNGenerator">Forkd from mapleray/APNGenerator</a>
                        </p>
		</div>
</div>
</body>
</html>
